<div class="container">
  <img class="image-bird" src="../../assets/undraw_happy_music_g6wc.svg">

  <div class="image-note">
    <img class="no-1" src="../../assets/Music_Note_clip_art_medium.png">
    <img class="no-2" src="../../assets/Music_Note_clip_art_medium.png">
    <img class="no-3" src="../../assets/Music_Note_clip_art_medium.png">
    <img class="no-4" src="../../assets/Music_Note_clip_art_medium.png">
    <img class="no-5" src="../../assets/Music_Note_clip_art_medium.png">

    <img class="no-6" src="../../assets/25706.svg">
    <img class="no-7" src="../../assets/25706.svg">
    <img class="no-8" src="../../assets/25706.svg">
    <img class="no-9" src="../../assets/25706.svg">
  </div>

</div>
