//colors
$dark-purple: rgba(63,61,86,255);
$purple: rgb(107,99,251);
$pink: rgb(251,100,132);
$pink-clear: rgb(251,100,132,0.6);
$gray: rgb(227,227,227);
$gray-clear: rgb(227,227,227,0.9);
$white: rgba(251,247,245)

